
.cover-container figure img {
    width: 100%;
}

main h3.title {
    font-size: 1.2em;

}

main section abbr {
    color: #25cbd3;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
      .cover-container {
        width: 70%;
    }

    .cover-container,
    .section-video {
        display: inline-block;
        display: inline-flex;
    }

    main .section-video blockquote {
        width: 70%;
        margin: auto;
        margin-bottom:  25px;
        text-align: justify;
    }
}